$primary: #7c79ff;
$secondary: #535358;
$neutral-light: #fff;
$neutral-middle: #d0d0d0;
$neutral-dark: #39393f;

$accent-primary: #ff0352;
$accent-secondary: #03ffb0;

$background-primary: $primary;
$color-primary: $neutral-light;

$background-secondary: $neutral-light;
$color-secondary: $neutral-dark;
